* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  input[type=checkbox] {
    zoom: 1.2;
  };
};

body {
<<<<<<< HEAD:test1/css/style.scss
  background: #f5f5f5;
=======
  background-color: #f8f8f8;
>>>>>>> b126c65d405b7825caec278cc61fafa734e84775:test1/css/style.scss

  .container {
    max-width: 981px;
    margin: 0 auto;
    h1 {
      text-align: center;
<<<<<<< HEAD:test1/css/style.scss
    };
    .checks_block {
      display: flex;
      width: 20%;
    };

=======
    }
<<<<<<< HEAD:test1/css/style.scss
    .projests_pannel {
      display: flex;
      flex-direction: column;
      div {
        background: white;
        margin-bottom: 5px;
        height: 45px;
      }
      .head_block {
        display: flex;
        div {
          width: 25%;
        }
      }
      .block {
        display: flex;
        p {
          width: 25%;
        }
=======
    .wrapper_containers {
      display: flex;
      width: 100%;
      div {
        width: 25%;
      }

      p {
        background-color: white;
      }
      p:nth-child(n + 1){
        margin-top: 8px;
      }
      .buttons_block {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;

>>>>>>> b126c65d405b7825caec278cc61fafa734e84775:test1/css/style.scss
      }
    }
>>>>>>> 9f5bda6c45c10cbc008109ac2e9ea54be98520c4:test1/style.scss



    .projects {
      display: flex;
      text-align: center;
      div {
        border: 1px solid black;
      }
      img {
        height: 46px;
      }
    }

    .registration  {
      div {
        border: 1px solid black;
      }
      display: flex;
      .left_column {
        width: 50%;
      }
      .right_column {
        width: 50%;
      }
    }

  }
}