* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #f5f5f5; }
  body .main_container {
    max-width: 980px;
    margin: 0 auto; }
    body .main_container .container_table_project .name_block_table_project {
      text-align: center; }
      body .main_container .container_table_project .name_block_table_project .table_projects {
        display: flex;
        flex-direction: column;
        width: 100%; }
        body .main_container .container_table_project .name_block_table_project .table_projects .check_box {
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center; }
        body .main_container .container_table_project .name_block_table_project .table_projects .number {
          width: 200px;
          display: flex;
          align-items: center;
          padding-left: 10px; }
        body .main_container .container_table_project .name_block_table_project .table_projects .client {
          width: 200px;
          display: flex;
          align-items: center;
          padding-left: 10px; }
        body .main_container .container_table_project .name_block_table_project .table_projects .status {
          width: 548px;
          display: flex;
          align-items: center;
          padding-left: 10px; }
        body .main_container .container_table_project .name_block_table_project .table_projects .head_line_table {
          display: flex;
          height: 35px;
          background-color: white; }
        body .main_container .container_table_project .name_block_table_project .table_projects .table_line {
          display: flex;
          height: 35px;
          margin-top: 10px;
          background-color: white; }
          body .main_container .container_table_project .name_block_table_project .table_projects .table_line .status p {
            border-bottom: 1px solid grey; }
      body .main_container .container_table_project .name_block_table_project .draft {
        opacity: 0.5; }
    body .main_container .container_projects {
      margin-top: 50px; }
      body .main_container .container_projects .projects {
        display: flex;
        flex-wrap: wrap; }
        body .main_container .container_projects .projects .project {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: white;
          margin-right: 30px;
          width: 200px;
          padding: 20px; }
          body .main_container .container_projects .projects .project img {
            margin-bottom: 10px; }
    body .main_container .container_add_project {
      background-color: white;
      margin-top: 40px;
      padding: 35px; }
      body .main_container .container_add_project form {
        display: flex;
        flex-wrap: wrap; }
        body .main_container .container_add_project form div {
          width: 50%;
          display: flex;
          flex-direction: column;
          padding-right: 50px;
          padding-top: 20px; }
          body .main_container .container_add_project form div input {
            border: none;
            border-bottom: 1px solid grey; }
          body .main_container .container_add_project form div input:focus {
            border: none; }
        body .main_container .container_add_project form .btn_cancel, body .main_container .container_add_project form .btb_add {
          margin-top: 20px;
          width: 150px;
          height: 40px;
          border-radius: 3px; }
        body .main_container .container_add_project form .btn_cancel {
          margin-right: 20px;
          background-color: white;
          border: 1px solid grey;
          border-radius: 3px; }
        body .main_container .container_add_project form .btb_add {
          background-color: yellow;
          border: none; }

/*# sourceMappingURL=style.css.map */
