@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

li {
  list-style: none;
  font-size: 20px;
}

body {

header {
  width: 100%;
  justify-content: space-around;
  border: 1px solid white;
  position: fixed;
  top: 0;
  background-color: #1a1a1a;
  z-index: 1;
  .main_header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 55px;

    img {
      height: 100%;
    }

    nav {
      margin: auto 0;
      width: 80%;
    }

    ul {
      display: flex;
      justify-content: space-around;

      li {
        list-style: none;
        display: inline-block;
        border: 1px solid black;
        padding: 5px;
        border-bottom: 2px solid green;


      }
      li:hover {
        background-color: rgba(22,100,9,0.38);
      }
      li:active {
        background-color: rgba(22,100,9,0.38);
      }
    }
  }
}

.osn_container {
  .block_home {
    height: 800px;
    background-image: url("../img/home2.JPG");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    .block_with_text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .home_text {
        width: 400px;
        height: 150px;
        h1 {
          display: block;
          position: absolute;
          margin-top: 30px;
          color: white;
          font-size: 60px;
          //margin: 0;
          font-family: 'Roboto', sans-serif;
          animation-duration: 1s;
          animation-name: slidein;
        }
        @keyframes slidein {
          from {
            margin-left: -200%;
          }
          to {
            margin-left: 0%;
          }
        }
        p {
          //position: absolute;
          //display: inline;
          font-size: 2em;
          color: white;
          animation-duration: 1s;
          animation-name: slidein2;

          @keyframes slidein2 {
            from {
              margin-top: -200%;
            }
            to {
              margin-top: 0%;
            }
          }
        }
      }
    }
  }
  li:first-child  {
    margin-top: 55px;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;

  }

  .about_me {
    .container_about_me {
      height: 300px;
      display: flex;
      padding: 5px;
      img {
        width: 30%;
        border-radius: 15px;
      }
      p {
        text-align: justify;
        padding: 5px;
      }
    }
  }
  .skills {


    .skills_per{
      //width: 100px;
      //      //height: 100px;
      //      //border: 6px solid black;
      //      //border-radius: 50%;
      //      //display: flex;
      //      //justify-content: center;
      //      //align-items: center;
      //      //flex-direction: column;
    }
  }

  .work_experience{
    .factor, .chudo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;

      padding: 5px;
      img {
        width: 30%;
        margin-left: 5px;
      }
    }
  }

  .education {
    .education_khai, .telesens_academy, .nt_school, .a_level {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      img {
        width: 30%;
      }
    }
  }

  div {
    height: 100%;
    border: 1px solid black;
      a {
        display: block;
        content: "";
        height: 56px;
        margin: -56px 0 0;
      }
  }
}
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1w042f');
  src:  url('fonts/icomoon.eot?1w042f#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?1w042f') format('truetype'),
  url('fonts/icomoon.woff?1w042f') format('woff'),
  url('fonts/icomoon.svg?1w042f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-github:before {
  content: "\e904";
}
.icon-viber:before {
  content: "\e900";
  color: #665cac;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-skype:before {
  content: "\e902";
  color: #00aff0;
}
.icon-gmail:before {
  content: "\e903";
  color: #d14836;
}