* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    background: url(img/web-background.jpg) fixed 100% 100% no-repeat;
    background-size: cover;
    background-position: unset;
    }

h1, p, a {
    color: white;
}

a {
    text-decoration: none;
}

header {
    height: 25%;
    background: rgba(60, 73, 91, 0.51);
}

header .info {
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

header .name {
    text-align: center;
    margin: auto 0;
    width: 25%;
    padding: 5px;
}

.photo {
    padding: 5px;
}
.photo img{
    display: block;
    height: 100%;
}

.contacts {
    padding: 5px 5px 5px 20px;
}

.container_contacts {
    height: 100%;
}

.container_contacts ul{
    list-style: none;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_contacts ul li {
    flex-direction: column;
    border-width: 20px;
}

.container_contacts a {
    display: inline-block;
}

.container_contacts ul a:hover {
    color: black;

}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?r76rei');
    src:  url('fonts/icomoon.eot?r76rei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r76rei') format('truetype'),
    url('fonts/icomoon.woff?r76rei') format('woff'),
    url('fonts/icomoon.svg?r76rei#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i, [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin: 5px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:after {
    content: "\e904";
    color: black;
}
.icon-viber:after {
    content: "\e900";
    color: #665cac;
}
.icon-linkedin:after {
    content: "\e901";
    color: #0077b5;
}
.icon-skype:after {
    content: "\e902";
    color: #00aff0;
}
.icon-gmail:after {
    content: "\e903";
    color: #d14836;
}

.icon-phone:after {
    content: "\e942";
    color: green;
}

.wrapper {
    height: 75%;
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

.wrapper .left_colum {
    background: rgba(203, 201, 201, 0.48);
    width: 25%;
    padding: 5px;
}

.left_colum input[type = button] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(60,73,91);
    padding: 14px 10px;
    width: 70%;
    border-radius: 25px;
    transition: 0.25s;
}

.left_colum input[type = button]:focus {
    background: rgba(203, 201, 201, 0.48);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 100%;
    border-radius: 25px;
    outline: none;
}

.left_colum input[type = button]:hover {
    background: rgba(203, 201, 201, 0.48);
    color: rgb(60,73,91);
    border: 2px solid black;
    cursor: pointer;
}

.wrapper .right_colum {
    overflow: auto;
    padding: 5px;
    width: 75%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.right_colum div{
    display: flex;
    flex-direction: column;
}

.right_colum h2, h3{
    font-size: 3em;
    color: white;
    margin: 15px 0;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -200%;
        /*width: -300%;*/
    }

    to {
        margin-left: 0%;
        /*width: 100%;*/
    }
}





.right_colum h3{
    font-size: 3em;
    color: white;
    border-bottom: 2px solid rgba(203, 201, 201, 0.48);
    display: inline-block;
    padding: 0 10%;
    margin: 15px 0;
}

.right_colum p {
    display: block;
    color: white;
    font-size: 1.5em;
    text-align: start;
}

.Experience p{
    padding-right: 15px;
}

.Additional_information p{
    margin: 0 auto;
}

.right_colum li {
    margin: 5px 0;
    font-size: 1.5em;
    color: white;
    text-align: left;
    list-style-position: inside;
}

.right_colum .Skills ul{
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1064px){
    .wrapper {
        flex-direction: column;
    }

    .wrapper .left_colum {
        width: 100%;
    }

    .left_colum form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .left_colum p {
        margin: 10px;
    }

    .left_colum input[type = button]:focus {
        margin: 0 auto;
    }


    .left_colum input[type = button] {
        width: 100%;
        margin: 0;
    }
    .wrapper .right_colum {
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 700px){

    body {
        height: 108%;
    }

    header {
        height: auto;
        width: 100%;
    }

    .info {
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    header .name {
        margin: 10% 0;
        width: 100%;
    }

    header .photo {
        margin: 0 auto;
    }

    header .contacts {
        width: 100%;
        padding: 5px;
    }

    header .container_contacts {
        width: 100%;
    }

    .container_contacts li {
        margin: 3px;
    }
    .left_colum input[type = button]:focus{
        margin: 0 auto;
    }

    .left_colum p {
        margin: 5px;
    }

}